.summary {
  border-radius: 20px;
  padding: 30px;
  background: rgba(0, 0, 0, 0.4);
  max-width: 500px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.grade-container {
  display: flex;
  align-items: center;
}

.correct {
  text-align: start;
  margin-top: 0;
}

.grade {
  margin-right: 40px;
  padding: 5px;
  width: 60px;
  height: 50px;
  border-radius: 50%;
  color: #ddd;
  font-size: 20px;
}

.text-container {
  text-align: start;
}

.restart-button {
  cursor: pointer;
  margin: 20px 0;
  background: rgba(0, 0, 0, 0);
  color: #ddd;
  border-radius: 25px;
  width: 200px;
  padding: 10px 0;
}

.option-button:hover {
  background: rgba(0, 0, 0, 0.2);
}
