@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fredericka+the+Great&display=swap");

html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 20px;
  background-image: url("./assets/black.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Fredericka the Great", serif;
  text-align: center;
  color: #ddd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  font-family: "Fredericka the Great", serif;
}
